@media (max-width: 600px) {
  #main1 {
    height: 100vh !important;
  }
  #main1 #container {
    display: none;
  }
  #main1 #container1 {
    top: 40%;
    display: initial;
    line-height: 60px;
  }
  #main1 #container1 h1 {
    font-size: 35px !important;
  }
  #main2{
  border-radius: 100px 100px 100px 100px;
  }
  #count {
    font-size: 80px !important;
  }
  #object1controller {
    display: none;
  }
  #k_lines {
    line-height: 70px;
  }
  .line-icon .icon {
    transform: scale(0.15);
    margin-bottom: 80px !important;
  }
  .circle1 {
    border: 4px solid;
  }
  #bombsvg {
    transform: scale(0.5) !important;
    margin-left: 5px;
  }
  #main2 {
    height: 60vh;
  }
  #k_main {
    height: 100vh;
  }
  #k_page1 {
    height: 100vh;
  }
  #k_page2 {
    height: 100vh;
  }
  #main1 img {
    transform: translate(0%, -80%) rotate(50deg);
    right: -20%;
    width: 500px;
    height: 400px;
  }
  nav {
    width: 100%;
    padding: 10px 20px;
  }
  #object1 {
    height: 40vh;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #sj-main {
    padding: 0px;
  }
  .main {
    border-radius: 10px;
  }
  #main5 p {
    font-size: initial;
  }
  #cylinder {
    height: 220px;
    width: 130px;
  }
  #cylinder span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(180px);
  }
}
